/* 
TYPOGRAPHY

- Roboto (All text)

COLOR KEY

- Rich Black -> #02343F (Backgrounds)
- Champange -> #F0EDCC (Text Content)



/* GLOBAL STYLES */
body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

/* HOME SECTION */

#home h1 {
  font-size: 8em;
  text-align: center;
  margin-top: 1.5em;
}

#home h2 {
  font-size: 4em;
  text-align: center;
  margin: 1em;
}

.box {
  padding: 5rem;
  background-color: aqua;
  text-align: center;
  font-size: 3em;
  border-radius: 0.8em;
}
