/* 
TYPOGRAPHY

- Roboto (All text)

COLOR KEY

- Rich Black -> #02343F (Backgrounds)
- Champange -> #F0EDCC (Text Content)



/* GLOBAL STYLES */

:root {
  --rich-black: #02343f;
  --champange: #f0edcc;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--rich-black);
  color: var(--champange);
}

.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* HOME SECTION */

#home h1 {
  font-size: 8em;
  text-align: center;
  margin-top: 1.5em;
}

#home h2 {
  opacity: 0;
  animation: fadeIn 2s ease 3.5s forwards;
  font-size: 5em;
  text-align: center;
}

.box {
  opacity: 0;
  animation: fadeIn 2s 5s forwards;
  padding: 5rem;
  background-color: var(--champange);
  color: var(--rich-black);
  text-align: center;
  font-size: 3em;
  border-radius: 0.8em;
}

.line-1 {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
    blinkTextCursor 750ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Media Queries */

@media (max-width: 1200px) {
  #home h1 {
    font-size: 3rem; /* Adjust for large screens */
  }
  #home h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 2.5rem; /* Smaller screens */
  }
  #home h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 576px) {
  #home h1 {
    font-size: 2rem; /* Mobile screens */
  }
  #home h2 {
    font-size: 1.5rem;
  }
}
